<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="primary" xmlns:th="www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Framework Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<!-- Biblioteca JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<!-- JS externo-->
	<script src="./js/scripts.js"></script>
	<!-- CSS Externo -->
	<link rel="stylesheet" href="../css/style.css">
	<style>
		td {
			text-align: center;
		}
	</style>
	<!-- Fivecon -->
	<link rel="shortcut icon" href="../img/logo-age.png" type="image/x-icon" />
	<title>Agencia R.R.R | Destinos Cadastrados</title>
</head>
<!-- Navbar -->
<div th:replace="base :: navlinks"> </div>
<!-- CORPO -->
<div class="container-fluid bd-navbar">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="text-center">Cadastro de Reservas</h4>
				</div>
				<div class="container-fluid px-4 px-lg-5 my-2 div-junta">
					<div class="text-center text-white">
						<h1 class="display-4 fw-bolder">Listagem de Passagens Disponiveis...</h1>
					</div>
				</div>
				<div class="row">
					<div class="table-responsive">
						<table class="table table-sm">
							<thead>
								<tr class="table-info">
									<th scope="col">#</th>
									<th scope="col">Nome Destino</th>
									<th scope="col">Data Ida</th>
									<th scope="col">Hora Ida</th>
									<th scope="col">Data Chegada</th>
									<th scope="col">Hora Chegada</th>
									<th scope="col">Condição</th>
									<th scope="col">Categoria</th>
									<th scope="col">Preço Unitário</th>
									<th scope="col">Quat. Disponivél</th>
									<th scope="col">Formulario Reserva</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="destino : ${destinos}" class="table-info">
									<th scope="row" th:text="${destino.id}"></th>
									<td>
										<a th:text="${destino.nomeDestino}"></a>
									</td>
									<td th:text="${#temporals.format(destino.dataIda, 'dd-MM-yyyy')}"></td>
									<td th:text="${destino.horaIda}"></td>
									<td th:text="${#temporals.format(destino.dataChegada, 'dd-MM-yyyy')}"></td>
									<td th:text="${destino.horaChegada}"></td>
									<td th:text="${destino.condicao}"></td>
									<td th:text="${destino.categoriaDestino}"></td>
									<td th:text="${#numbers.formatCurrency(destino.precoUnit)}"></td>
									<td th:text="${destino.qtdDisponivel}"></td>
									<td>
										<div class="card-body">
											<form method="POST" th:object="${reserva}" enctype="multipart/form-data">
												<input type="hidden" th:field="*{id}">
												<div class="mb-3">
													<div class="col-md-6 col-sm-12">
														<div class="form-group">
															<label>Cliente</label>
															<select th:field="*{clientes}" class="form-control"
																style="width: 100%;">
																<option th:each="cliente : ${clientes}"
																	th:text="${cliente.nomeCliente}"
																	th:value="${cliente.id}"></option>
															</select>
														</div>
													</div>
												</div>
												<div class="mb-3">
													<div class="col-md-6 col-sm-12">
														<div class="form-group">
															<label>Lista Destino</label>
															<select th:field="*{destinos}" class="form-control"
																style="width: 100%;">
																<option th:each="destino : ${destinos}"
																	th:text="${destino.nomeDestino}"
																	th:value="${destino.id}"></option>
															</select>
														</div>
													</div>
												</div>
												<!-- input pagamento -->
												<div class="mb-3">
													<div class="col d-flex justify-content-center">
														<label for="pagamento" class="form-label">Forma de
															pagamento</label>
														<select class="form-check-label" id="pagamento" name="pagamento"
															th:field="*{pagamento}">
															<option class="bi-star-fill" value="A Vista">A Vista
															</option>
															<option class="bi-star-fill" value="Cartao A Vista">Cartão A
																Vista</option>
															<option class="bi-star-fill" value="Cartao parc">Cartão
																Parcelado</option>
														</select>
													</div>
												</div>
												<!-- radio input status -->
												<div class="mb-3">
													<div class="col d-flex justify-content-center">
														<!-- Categoria -->
														<div class="form-check">
															<label for="statusPedido" class="form-label">Status
																Pedido</label>
															<select class="form-check-label" id="condicao"
																name="statusPedido" th:field="*{statusPedido}">
																<option value="APROVADO">APROVADO</option>
																<option value="REPROVADO">REPROVADO</option>
																<option value="EM ANALISE">EM ANALISE</option>
															</select>
														</div>
													</div>
												</div>
												<div class="mb-3">
													<label for="text" class="form-label">Qtd Reservada</label>
													<input type="text" class="form-control" id="quant"
														th:field="*{qtdReservada}">
												</div>
												<div class="mb-3">
													<label for="text" class="form-label">Preço Total</label>
													<input type="text" class="form-control" id="preco"
														th:field="*{precoTotal}" required>
												</div>
												<!-- Botões de fim Reserva-->
												<div class="nav-item col-12 col-lg-auto d-grid gap-2 h3 mb-3 fw-normal bd-navbar">
													<button class="w-100 btn btn-lg btn-primary" type="submit"
														onclick="exibirAlertaDestino()">
														Concluir Reserva...</button>
												</div>																	
											</form>
										</div>				
									</td>									
								</tr>
							</tbody>							
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- RODAPÉ -->
<div class="container" th:replace="base :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
	crossorigin="anonymous"></script>
</body>

</html>