<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="primary" xmlns:th="www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Framework Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<!-- Biblioteca JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<!-- JS externo-->
	<script src="../js/scripts.js"></script>
	<!-- CSS Externo -->
	<link rel="stylesheet" href="../css/style.css">
	<!-- Fivecon -->
	<link rel="shortcut icon" href="../img/logo-age.png" type="image/x-icon" />
	<title>Agencia R.R.R | Detalhe Reserva</title>
</head>
<!-- Navbar -->
<div th:replace="base :: navlinks"> </div>
<!-- CORPO -->
<main class="container-fluid bd-navbar">
	<div class="row">
		<div class="col-sm-12">
			<!-- Default box -->
			<div class="card">
				<h3 class="card-title" th:text="${reserva?.destinos?.nomeDestino}"></h3>
				<h3 class="card-title" th:text="${reserva?.promocao?.nomeDestinoProm}"></h3>
				<div class="card-header">					
					<h3 class="card-title" th:text="${reserva.clientes.nomeCliente}"></h3>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-12 order-2 order-md-1">
							<div class="row">
								<div class="col-12 col-sm-3">
									<div class="info-box bg-light">
										<div class="info-box-content">
											<span class="info-box-text text-center text-muted">Preço Unitário</span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${#numbers.formatCurrency(reserva?.destinos?.precoUnit)}"></span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${#numbers.formatCurrency(reserva?.promocao?.precoUnitProm)}"></span>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-3">
									<div class="info-box bg-light">
										<div class="info-box-content">
											<span class="info-box-text text-center text-muted">Quant. Reservada</span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${reserva.qtdReservada}"></span>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-3">
									<div class="info-box bg-light">
										<div class="info-box-content">
											<span class="info-box-text text-center text-muted">Valor Total da
												Reserva</span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${#numbers.formatCurrency(reserva.precoTotal)}"></span>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-3">
									<div class="info-box bg-light">
										<div class="info-box-content">
											<span class="info-box-text text-center text-muted">Forma de Pagamento</span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${reserva.pagamento}"></span>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-3">
									<div class="info-box bg-light">
										<div class="info-box-content">
											<span class="info-box-text text-center text-muted">Data Ida</span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${#temporals.format(reserva?.destinos?.dataIda)}"></span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${#temporals.format(reserva?.promocao?.dataIdaProm)}"></span>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-3">
									<div class="info-box bg-light">
										<div class="info-box-content">
											<span class="info-box-text text-center text-muted">Data Chegada</span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${#temporals.format(reserva?.destinos?.dataChegada)}"></span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${#temporals.format(reserva?.promocao?.dataChegadaProm)}"></span>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-3">
									<div class="info-box bg-light">
										<div class="info-box-content">
											<span class="info-box-text text-center text-muted">Condição</span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${reserva?.destinos?.condicao}"></span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${reserva?.promocao?.condicaoProm}"></span>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-3">
									<div class="info-box bg-light">
										<div class="info-box-content">
											<span class="info-box-text text-center text-muted">Status Pedido</span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${reserva.statusPedido}"></span>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-3">
									<div class="info-box bg-light">
										<div class="info-box-content">
											<span class="info-box-text text-center text-muted">Hora Ida</span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${reserva?.destinos?.horaIda}"></span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${reserva?.promocao?.horaIdaProm}"></span>
										</div>
									</div>
								</div>								
								<div class="col-12 col-sm-3">
									<div class="info-box bg-light">
										<div class="info-box-content">
											<span class="info-box-text text-center text-muted">Hora Chegada</span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${reserva.destinos.horaChegada}"></span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${reserva.destinos.horaChegadaProm}"></span>
										</div>
									</div>
								</div>								
								<div class="col-12 col-sm-3">
									<div class="info-box bg-light">
										<div class="info-box-content">
											<span class="info-box-text text-center text-muted">Categoria:</span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${reserva?.destinos?.categoriaDestino}"></span>
											<span class="info-box-number text-center text-muted mb-0"
												th:text="${reserva?.promocao?.categoriaDestinoProm}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 order-1 order-md-2">			
							<div class="text-center mt-5 mb-3">
								<a class="btn btn-sm btn-warning" th:href="@{/reserva/{id}/editar (id=${reserva.id})}">
									<i class="fas fa-edit"></i>
									Editar
								</a>
								<a href="#" class="btn btn-sm btn-danger"
									th:href="@{/reserva/{id}/excluir (id=${reserva.id})}"
									onclick="return confirm('Tem certeza que deseja excluir o Reserva?');">
									<i class="fas fa-trash"></i>
									Excluir
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
	</div>
</main>
<!-- RODAPÉ -->
<div th:replace="base :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
	crossorigin="anonymous"></script>
</body>

</html>